# Allow access to static files in public
<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_URI} ^/robots\.txt$
    RewriteRule ^ robots.txt [L]

    # Serve existing files and directories directly
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]
    
    # Otherwise, rewrite to index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>
